*{
    margin: 0%;
    padding: 0%;
}

#mainPage{
    height: 92%;
    width: 40%;
    margin-left: 30%;
    border-radius: 3vh;
}

#restaurantName{
    margin-top: 2%;
    text-align: center;
}

#restaurantAddress{ 
    margin-top: 1%;
    text-align: right;
    margin-right: 10%;
}

#Saperator{
    text-align: center;
    margin-top: 2%;
}

#restaurantContactNumber{
    text-align: right;
    margin-top: 0.5%;
    margin-right: 10%;
}

#customerHeading,#orderHeading{
    margin-top: 1%;
    text-align: center;
    text-decoration: underline;
}

#customerName{
    margin-left: 20%;
    margin-top: 3%;
}

#customerContact{
    margin-left: 20%;
    margin-top: 1%;
}

#orderDetails th {
    font-weight: bold;
    font-size: larger;
    background-color: #f2f2f2;
}

#orderDetails th, #orderDetails td {
    padding: 0.5%;
    text-align: center;
}

table{
    margin-top: 3%;
}

#printBtn{
    height: 3.7%;
    width: 6%;
    margin-left: 57%;
    border: 0.1vh solid black;
    border-radius: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: antiquewhite;
    cursor: pointer;
}

#shareBtn{
    margin-left: 1%;
    height: 3.7%;
    width: 6%;
    border: 0.1vh solid black;
    border-radius: 0.5vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: antiquewhite;
    cursor: pointer;
}