*{
    margin: 0%;
    padding: 0%;
}

.profilepage{
    height: 80%;
    width: 70%;
    margin-left: 15%;
    margin-top: 4%;
    border-radius: 5vh;
    border: 2vh solid black;
    background-color: rgb(160, 159, 159);
}

.classpage1 ,.classpage2{
    height: 100%;
    text-align: center;
}

.classpage1 h1 {
    padding-top: 8%;
    font-weight: bolder;
    font-size: 6vh;
}

.classpage1 p{
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 2%;
    font-size: 3vh;
}

.classpage1 button{
    height: 7%;
    width: 10%;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 1vh;
    margin-top: 8%;
    margin-left: 70%;
    cursor: pointer;
    border: 0.3vh solid rgb(255, 255, 255);
    background-color: black;
}

.classpage1 a{
    display: inline-block;
    margin-right: 80%;
    margin-top: 2%;
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.classpage2 h1{
    padding-top: 3%;
    font-weight: bolder;
    font-size: 6vh;
}

.classpage2 button{
    height: 7%;
    width: 10%;
    color: white;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 1vh;
    margin-top: 3%;
    margin-left: 70%;
    cursor: pointer;
    border: 0.3vh solid rgb(255, 255, 255);
    background-color: black;
}
.classpage2 h3{
    font-weight: bold;
    padding-top:1%;
    margin-top: 0.1%;
}

#editName ,#editAddress ,#editContact ,#editMail {
    width: 40%;
    height: 7%;
    border-radius: 1vh;
    font-size: 3vh;
    margin-top: 0.1%;
}